.failure {
    background-color: #C33;
    color: #fff;
    font-weight: bold;
    padding:5px;
}

.warning {
    background-color: #F93;
    color: #fff;
    font-weight: bold;
    padding:5px;
}

th:first-child {
    width: 20%;
}

th:nth-child(2){
    width: 27%;
}

th:nth-child(3) {
    width: 8%;
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

th:nth-child(4) {
    width: 44%;
}
