.failure {
    background-color: #C33;
    color: #fff;
    font-weight: bold;
}

.warning {
    background-color: #F93;
    color: #fff;
    font-weight: bold;
}

td div.status {
    text-align: center;
}
